.titlebar_title {
    font-size: 4vw;
    color: white;
    margin-left: 2vw;
    font-weight: bold;
}

.titlebar {
    position: relative;
    display: flex;
    height: 10vw;
    width: 100%;
    background-color: var(--secondaryBg);
    align-items: center;
    justify-content: space-between;
}

.titlebarChildren {
    display: flex;
}

.titlebarChildren > *{
    margin-right: 2vw;
    display: flex;
    align-items: center;
}