.titlebar_title {
    font-size: large;
    color: white;
    margin-left: 2vw;
    font-weight: bold;
}

.titlebar {
    position: relative;
    display: flex;
    height: 12vw;
    width: 100%;
    background-color: var(--secondaryBg);
    align-items: center;
    justify-content: space-between;
}

.titlebarChildren {
    display: flex;
}

.titlebarChildren > *{
    margin: 0 2vw 0 2vw;
}