.attendenceSearchHolder {
    display: grid;
    justify-items: center;
}

.attendenceSearchInput {
    width: 70%;
    margin-top: 5vw;
}

.contact {
    border-bottom: 0.0001em #555 solid;
    height: 5vh;
    display: flex;
    align-items: center;
}