.atcContact {
    border-bottom: 0.0001em #555 solid;
    display: flex;
    align-items: center;
}

.atcNamePhone {
    margin: 1vw 0vw 1vw 2vw;
    flex: 8;
}

.atcName {
    font-weight: 700;
    font-size: 2.75vw;
    margin-bottom: 1.25vw;
}

.atcPhone {
    font-size: 2.25vw;
    font-weight: 100;
}

.atcTick {
    font-size: 2.75vw;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 4%;
    align-items: center;
}