@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

:root {
  --bg: #121b22;
  --secondaryBg: #1f2c34;
  --toastBg: #6d6c6c71;
  --green: #00a884;
}

body {
  background-color: (--bg);  
}

input {
  outline: 0;
  border-width: 0 0 0.1rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: larger;
}

button {
  background-color: var(--green);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: larger;
  padding: 2%;
  height: fit-content;
  transition: background-color 0.5s;
}

button:disabled {
  opacity: 0.5;
}

input:focus {
  border-color: var(--green)
}

i {
  color: white;
  font-size: 5vw;
}

.App {
  display: grid;
  grid-template-areas:
  'header'
  'body'
}

.app_header {
  background-color: var(--bg);
}

.glass {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
}

.clickable {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

