:root {
  --bg: #121b22;
  --secondaryBg: #1f2c34;
  --green: #00a884;
  --dark-green: #008f702f;
}

body {
  background-color: (--bg);
}

input {
  outline: 0;
  border-width: 0 0 0.1rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: larger;
}

button {
  background-color: var(--green);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: larger;
  padding: 2%;
  transition: background-color 0.5s;
}

button:disabled {
  background-color: var(--dark-green);
  color: grey;
}

input:focus {
  border-color: var(--green)
}

.App {
  display: grid;
  grid-template-areas:
  'header'
  'body'
}

.app_header {
  background-color: var(--bg);
}