.modalBox {
  position: fixed;
  width: 80vw;
  z-index: 999;
  left: 10vw;
  background-color: #2a3b45;
}

.modalBody {
  background-color: var(--bg);
}

.modalTitle {
  padding: 2%;
  background-color: var(--secondaryBg);
}