.tab {
    color: white;
    width: 100vw;
}

.tab>.tabHeader {
    display: flex;
    justify-content: space-around;
    background: var(--secondaryBg);
}

.tabHeaderItem {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.tabHeaderItem:hover {
}

.tab>.underline {
    height: .4vh;
    background: var(--green);
}