#contactList {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh;
    overflow: scroll;
}

.contactItem {
    margin: 2vw 0 2vw 0;
}

.contactItemHolder {
    display: flex;
    justify-content: space-between;
}
