.pageMenu {
    position: fixed;
    color: white;
    width: 50vw;
    transform-origin: 100% 0%;
    box-shadow: -3px 3px 5px #00000055;
    transition: transform 0.2s ease-in;
    transform-origin: 200% 0%;
}

.pageMenuList {
    position: fixed;
    z-index: 100;
    background-color: var(--secondaryBg);
    width: 100%;
    right: -50vw;
    margin: 3px 5px 0 0;
    transform-origin: 200% 0%;
}

.pageMenuItem {
    padding: 3vw;
}

.pageMenu#show {
    transform: scale(1);
}

.pageMenu#hide {
    transform: scale(0);
}

.glass {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 99;
}
