#login-form{
    display: grid;
}

#login-logo {
    width: 60%;
}

#login-form {
    width: 80%;
    display: grid;
    row-gap: 30%;
}

#login-root {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}