.toast {
  position: fixed;
  background-color: var(--toastBg);
  color: white;
  padding: 2%;
  border-radius: 1000px;
  width: 60%;
  text-align: center;
  bottom: 10vh;
  transition: bottom .5s ease-in-out, opacity .5s ease-in-out;
  white-space: pre-wrap;
  overflow: hidden;
}

.toast-show {
  bottom: 10vh;
  opacity: 1;
}

.toast-hide {
  bottom: -20vh;
  opacity: 0;
}