.toast {
  position: absolute;
  background-color: var(--toastBg);
  color: white;
  padding: 2%;
  border-radius: 1000px;
  width: 80%;
  text-align: center;
  bottom: 10vh;
  transition: bottom .5s ease-in-out, opacity .5s ease-in-out;
  white-space: pre-wrap;
}

.toast-show {
  bottom: 10vh;
  opacity: 1;
}


.toast-hide {
  bottom: -50vh;
  opacity: 0;
}