.header_logo {
    width:12vw;
}

.app_header {
    display: flex;
    height: 6vh;
    width: 100%;
    background-color: var(--secondaryBg);
    align-items: center;
    justify-content: space-between;
}

#menuButton {
    padding: 0% 3% 0% 0%;
    font-size: 4vw;
}

#slideMenuButton {
    padding: 0% 0% 0% 3%;
}