.header_logo {
    width:12vw;
}

.appHeader {
    position: relative;
    display: flex;
    height: 12vw;
    width: 100%;
    background-color: var(--bar);
    align-items: center;
    justify-content: space-between;
}

#menuButton {
    margin: 0% 3% 0% 0%;
    font-size: 4vw;
}

#slideMenuButton {
    margin: 0% 0% 0% 3%;
}

.clickableIcon {
    display: flex;
    width: 6vw;
    height: 6vw;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
}